<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<script>
    function loginCheck(){
        let userId = $("#loginId").val()
        let userPw = $("#loginPw").val()
      
        $.ajax({
            type : 'POST',
            url : '/login',
            data : { 
                "userId": userId,
                "userPw": userPw
            },
            success : function(response){
                if(response['msg'] == 'Login Fail'){
                    alert('아이디 혹은 패스워드가 맞지 않습니다.')
                    return 
                } else {
                    window.location.href = '/today'
                }
            }
        })
    }
</script>
<body>
    ID : <input type="text" id="loginId">
    PW : <input type="password" id="loginPw">
    <button type="button" onclick="loginCheck()">로그인</button>
</body>
</html>